<%- include layouts/header.ejs %>

<div class="container">
    <% if (data.length) { %>
        <table>
            <thead>
                <tr>
                    <td>Имя</td>
                    <td class="long">Фамилия</td>
                    <td class="short">Возраст</td>
                    <td class="long">Местоположение</td>
                    <td class="short">Рост</td>
                    <td class="short">Вес</td>
                    <td>Изменить</td>
                    <td>Удалить</td>
                </tr>
            </thead>
                <% for (let i = 0; i < data.length; i++) { %>
                    <tr>
                        <td><%= data[i].name %></td>
                        <td class="long"><%= data[i].surname %></td>
                        <td class="short"><%= data[i].age %></td>
                        <td class="long"><%= data[i].location %></td>
                        <td class="short"><%= data[i].height %></td>
                        <td class="short"><%= data[i].weight %></td>
                        <td><a href="/edit/<%= data[i].id %>">Изменить</a></td>
                        <td><a href="/delete/<%= data[i].id %>">Удалить</a></td>
                    </tr>
                <% } %>
            </tbody>
        </table>
    <% } else { %>
    <p>Data no length</p>
    <% } %>
</div>

<%- include layouts/footer.ejs %>